body{
    margin:0;
    padding:0;
    background-color: #04002d;
    background-color:#110036;
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Montserrat';
    
}
p{
    font-family: 'Ubuntu';

}

.locname{
    font-size: 3rem;
}


.container1{
   display: flex;
}

.container2{
   
}
.maincard{
    display: flex;
    justify-content: center;
}

#weatherdesc{
    font-size: 1.3rem;
    color: #b7b0b0;
}
.card1{
    
    background-color:black;
    background: rgb(5,5,23);
background: linear-gradient(90deg, rgba(5,5,23,1) 7%, rgba(3,2,32,1) 55%, rgba(4,12,51,1) 99%);
    box-shadow: 0 0 3px 3px #071131;
    margin:5% 0 5% 5%;
    align-items: center;
    padding: 5%;
    width:500px;
    height: 300px;
}
.temperature{
    font-size: 4rem;
}

.container2 p{
    font-size: 2rem;
    
}
.card{
   
    background-color: black;
    background: rgb(5,5,23);
    background: linear-gradient(90deg, rgba(5,5,23,1) 7%, rgba(3,2,32,1) 55%, rgba(4,12,51,1) 99%);
    box-shadow: 0 0 3px 3px grey;
    width:300px;
    height: 300px;
    float: right;
    margin: 5%;
    position: relative;
   right: -270px;
   
}